:root{
  --blush:#E7CFCF;
  --beige:#F5E8E2;
  --cream:#FFF8F4;
  --sand:#DCC8BC;
  --gold:#C6A46A;
  --text:#4F4642;
  --white:#FFFFFF;
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{
    background:var(--cream);
    color:var(--text);
    font-family:Arial, Helvetica, sans-serif;
    line-height:1.7;
}

.container{
    width:90%;
    max-width:1200px;
    margin:auto;
}

.hero{
    background:linear-gradient(180deg,var(--cream),var(--beige));
    text-align:center;
    padding:100px 20px;
}

h1{
    font-size:58px;
    margin-bottom:20px;
    color:var(--text);
}

.hero p{
    font-size:22px;
    color:#7D7069;
    margin-bottom:35px;
}

nav{
    margin-bottom:40px;
}

nav a{
    text-decoration:none;
    color:var(--text);
    margin:0 18px;
    font-weight:600;
}

nav a:hover{
    color:var(--gold);
}

.button{
    display:inline-block;
    background:var(--gold);
    color:white;
    padding:16px 38px;
    border-radius:40px;
    text-decoration:none;
    font-weight:bold;
    transition:.3s;
}

.button:hover{
    transform:translateY(-3px);
}

section{
    padding:90px 20px;
}

h2{
    color:var(--gold);
    font-size:40px;
    margin-bottom:25px;
}

section p{
    font-size:20px;
    max-width:850px;
}
